* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Switzer Variable', sans-serif;
}

body {
    background-color: #1a1a1a;
    color: #fff;
}

.hero {
    text-align: left;
    padding: 80px 20px;
    background-image: url('home.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    position: relative;
}

.content-wrapper {
    max-width: 600px;
    margin-left: -450px;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.icon-hero {
    width: 30px; 
    margin-top: -5px;
    height: auto;
    margin-right: 8px; 
    vertical-align: middle; 
}

.main-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #ffffff;   
}

.subtitle {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
}

.download-buttons {
    display: flex;
    gap: 10px;
}

.download-buttons a {
    text-decoration: none;
    color: white;
    background-color: #000000;
    padding: 10px 10px;
    flex: 0.3;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.download-buttons a:hover {
    background-color: #21242B;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .hero {
        padding: 60px 10px; /* Reduz o padding em telas menores */
        min-height: 500px; /* Ajusta a altura mínima */
    }

    .content-wrapper {
        margin-left: 0; /* Remove a margem negativa */
        max-width: 100%; /* Permite que o conteúdo utilize 100% da largura */
    }

    .logo {
        font-size: 28px; /* Diminui o tamanho da logo */
    }

    .main-title {
        font-size: 28px; /* Diminui o tamanho do título principal */
    }

    .subtitle {
        font-size: 16px; /* Diminui o tamanho da legenda */
    }

    .download-buttons a {
        font-size: 12px; /* Diminui o tamanho da fonte dos botões */
        padding: 8px; /* Reduz o padding dos botões */
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 40px 5px; /* Aumenta o padding para maior espaço vertical */
        min-height: 400px; /* Ajusta a altura mínima ainda mais */
    }

    .logo {
        font-size: 24px; /* Diminui ainda mais o tamanho da logo */
    }

    .main-title {
        font-size: 24px; /* Diminui ainda mais o tamanho do título principal */
    }

    .subtitle {
        font-size: 14px; /* Diminui ainda mais o tamanho da legenda */
    }

    .download-buttons {
        flex-direction: column; /* Muda a direção dos botões para coluna */
    }

    .download-buttons a {
        width: 100%; /* Faz com que os botões ocupem 100% da largura */
        font-size: 14px; /* Ajusta o tamanho da fonte dos botões */
        padding: 10px; /* Ajusta o padding dos botões */
    }
}



.info-section {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: rgba(33, 36, 43, 1);
}

.info-box {
    width: 45%;
    background-color: #1a1a1a;
    padding: 80px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.info-box h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.icon-card {
    width: 200px;
    margin-bottom: 20px;
}

.info-box p {
    font-size: 16px;
    line-height: 1.5;
    color: #bfbfbf;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .info-section {
        flex-direction: column; /* Muda a direção do flex para coluna */
        align-items: center; /* Centraliza os itens */
    }

    .info-box {
        width: 90%; /* Aumenta a largura da caixa de informação */
        padding: 40px; /* Diminui o padding */
        margin-bottom: 20px; /* Espaçamento entre as caixas */
    }

    .info-box h3 {
        font-size: 22px; /* Diminui o tamanho da fonte do título */
    }

    .info-box p {
        font-size: 14px; /* Diminui o tamanho da fonte do parágrafo */
    }

    .icon-card {
        width: 150px; /* Diminui a largura do ícone */
    }
}

@media (max-width: 480px) {
    .info-box {
        padding: 20px; /* Diminui ainda mais o padding em telas pequenas */
    }

    .info-box h3 {
        font-size: 20px; /* Diminui mais o tamanho da fonte do título */
    }

    .info-box p {
        font-size: 12px; /* Diminui ainda mais o tamanho da fonte do parágrafo */
    }

    .icon-card {
        width: 120px; /* Diminui a largura do ícone ainda mais */
    }
}


.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: radial-gradient(circle, #002080, #0b1226, #171705);
    background-position: 90% 50%; 
    background-size: 5000px;
    padding: 0;
    margin: 0;
    min-height: 600px;
}

.oi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: radial-gradient(circle, #e6a223, #0b1226, #000);
    background-position: 10% 50%; /* posição do círculo */
    min-height: 600px;
    background-size: 5000px; /* Ajusta o tamanho do gradiente */
}

.text-content-oi {
    margin-left: 70px;
    flex: 1;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 50px;
}

.text-content {
    flex: 1;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    line-height: 1.8em;
    color: #cccccc;
}

ul li::before {
    color: #cccccc; 
}

p {
    font-size: 1.1em;
    color: #cccccc;
    margin-top: 10px;
}

/* Media Queries para Responsividade */
@media (max-width: 1024px) {
    .section, .oi {
        flex-direction: column; /* Muda a direção do flex para coluna */
        align-items: center; /* Centraliza os itens */
    }

    .text-content-oi {
        margin-left: 0; /* Remove a margem esquerda em telas menores */
        text-align: center; /* Centraliza o texto */
    }

    .image-container {
        margin-top: 20px; /* Espaçamento acima da imagem */
        order: 2; /* Faz a imagem ficar abaixo do texto */
    }

    .text-content-oi {
        order: 1; /* Faz o texto ficar acima da imagem */
    }

    .image-container img {
        max-width: 80%; /* Limita a largura da imagem */
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.8em; /* Diminui o tamanho do título */
    }

    p {
        font-size: 1em; /* Diminui o tamanho do parágrafo */
    }

    ul {
        line-height: 1.5em; /* Diminui o espaçamento entre as linhas */
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5em; /* Diminui ainda mais o tamanho do título */
    }

    .section, .oi {
        min-height: 400px; /* Reduz a altura mínima para telas muito pequenas */
    }

    .text-content-oi {
        padding: 0 20px; /* Adiciona um padding horizontal */
    }
}


.testimonials {
    padding: 120px 150px;
    text-align: center;
    background-color: rgba(33, 36, 43, 1);
}

.testimonials-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.testimonial-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonial-card {
    background-color: rgba(12, 12, 17, 1);
    padding: 20px;
    border-radius: 12px;
    max-width: 300px;
    width: 100%;
    color: #ffffff;
    text-align: left;
}

.stars {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
}

.testimonial-card p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.author {
    color: #4e97d8;
    font-weight: bold;
    font-size: 14px;
}

/* Media Queries para Responsividade */
@media (max-width: 1024px) {
    .testimonials {
        padding: 80px 50px; /* Reduz o padding para telas menores */
    }

    .testimonials-title {
        font-size: 36px; /* Diminui o tamanho do título */
        margin-bottom: 30px; /* Ajusta a margem do título */
    }

    .testimonial-cards {
        gap: 15px; /* Diminui o espaçamento entre os cartões */
    }

    .testimonial-card {
        max-width: 90%; /* Aumenta a largura máxima dos cartões em telas menores */
    }
}

@media (max-width: 768px) {
    .testimonials-title {
        font-size: 30px; /* Diminui ainda mais o tamanho do título */
    }

    .testimonial-card p {
        font-size: 15px; /* Diminui o tamanho da fonte do texto */
    }

    .author {
        font-size: 12px; /* Diminui o tamanho da fonte do autor */
    }
}

@media (max-width: 480px) {
    .testimonials {
        padding: 60px 20px; /* Diminui o padding em telas muito pequenas */
    }

    .testimonials-title {
        font-size: 24px; /* Diminui o tamanho do título ainda mais */
    }

    .testimonial-card {
        padding: 15px; /* Reduz o padding do cartão */
    }

    .stars {
        font-size: 16px; /* Diminui o tamanho das estrelas */
    }

    .testimonial-card p {
        font-size: 14px; /* Diminui o tamanho do parágrafo */
    }
}





.faq-container {
    width: 90%;
    max-width: 700px;
    padding: 30px;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto; 
}

.faq-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.faq-item {
    border-top: none;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faq-item:hover {
    background-color: #222;
}

.faq-question {
    font-size: 1em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-icon {
    font-size: 1.2em;
    color: #888;
    transition: transform 0.3s;
}

.faq-item.active .faq-icon {
    transform: rotate(180deg);
}

.faq-answer {
    display: none;
    padding: 10px 0;
    font-size: 0.9em;
    color: #bbb;
    border: none;
}

.faq-item.active .faq-answer {
    display: block;
}

.seta-para-baixo {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 5px solid #DFE6F5; 
    display: inline-block;
    margin-left: 10px;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .faq-title {
        font-size: 30px; /* Diminui o tamanho do título */
    }

    .faq-item {
        padding: 12px; /* Diminui o padding dos itens */
    }

    .faq-question {
        font-size: 0.9em; /* Diminui o tamanho da fonte da pergunta */
    }

    .faq-icon {
        font-size: 1em; /* Diminui o tamanho do ícone */
    }

    .faq-answer {
        font-size: 0.8em; /* Diminui o tamanho da fonte da resposta */
    }
}

@media (max-width: 480px) {
    .faq-container {
        padding: 20px; /* Reduz o padding para telas pequenas */
    }

    .faq-title {
        font-size: 24px; /* Diminui o tamanho do título ainda mais */
    }

    .faq-item {
        padding: 10px; /* Reduz o padding dos itens */
    }

    .faq-question {
        font-size: 0.85em; /* Diminui ainda mais o tamanho da fonte da pergunta */
    }

    .faq-icon {
        font-size: 0.9em; /* Diminui o tamanho do ícone */
    }

    .faq-answer {
        font-size: 0.75em; /* Diminui ainda mais o tamanho da fonte da resposta */
    }
}

.footer {
    background: radial-gradient(circle, #1c2b5a, #0b1226, #050a17);
    text-align: center;
    padding: 5px 5px;
    color: #ffffff;
}

.footer h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.footer p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 0.8em;
    color: white;
    background-color: #333;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 160px;
    height: 48px;
    font-weight: bold;
    line-height: 1.0em;
}

.google-play {
    background-color: #000000;
}

.app-store {
    background-color: #000000;
}

.button:hover {
    opacity: 0.9;
    background-color: #21242B;
}

.footer-text {
    font-size: 0.8em;
    margin-top: 50px;
    color: #666;
}

.icon {
    width: 30px; 
    margin-top: -5px;
    height: auto; 
    margin-right: 8px; 
    vertical-align: middle; 
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .footer h3 {
        font-size: 1.5em; /* Diminui o tamanho do título */
    }

    .footer p {
        font-size: 0.9em; /* Diminui o tamanho do texto */
    }

    .button {
        width: 140px; /* Reduz a largura dos botões */
        font-size: 0.75em; /* Diminui o tamanho da fonte dos botões */
    }

    .footer-text {
        font-size: 0.7em; /* Diminui o tamanho do texto de rodapé */
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 10px 0; /* Aumenta o padding para maior espaço vertical */
    }

    .footer h3 {
        font-size: 1.3em; /* Diminui ainda mais o tamanho do título */
    }

    .footer p {
        font-size: 0.8em; /* Diminui ainda mais o tamanho do texto */
    }

    .button {
        width: 120px; /* Reduz ainda mais a largura dos botões */
        font-size: 0.7em; /* Diminui ainda mais o tamanho da fonte dos botões */
    }

    .footer-text {
        font-size: 0.6em; /* Diminui ainda mais o tamanho do texto de rodapé */
        margin-top: 30px; /* Ajusta a margem superior */
    }
}
